[Unit]
Description=File Uploader Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/fileuploader
ExecStart=/opt/fileuploader/fileuploader
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
